{% extends "application.html" %}

{% block content %}

<div class="container">
    <div class="h4 p-3 mb-2 bg-dark text-white rounded-lg">{{method}}</div>
</div>

<div class="container">
    <form action="/viewBisecReg/" method="GET">
        <div class="container" style="padding: 30pt;">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Fx</sub> </span>
                        </div>
                        <input type="text" class="form-control" id="01" name="fx" aria-describedby="basic-addon3"
                            required>
                        <div class="invalid-feedback">
                            Insert valid value
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">A</sub> </span>
                        </div>
                        <input type="text" class="form-control" id="03" name="a" aria-describedby="basic-addon3"
                            required>
                        <div class="invalid-feedback">
                            Insert valid value
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">B</sub> </span>
                        </div>
                        <input type="text" class="form-control" id="04" name="b" aria-describedby="basic-addon3"
                            required>
                        <div class="invalid-feedback">
                            Insert valid value
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Tol</sub> </span>
                        </div>
                        <input type="text" class="form-control" id="05" name="error" aria-describedby="basic-addon3"
                            required>
                        <div class="invalid-feedback">
                            Insert valid value
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">N</sub> </span>
                        </div>
                        <input type="text" class="form-control" id="06" name="n" aria-describedby="basic-addon3"
                            required>
                        <div class="invalid-feedback">
                            Insert valid value
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col">
                  <button type="submit" class="btn btn-dark">Calculate</button>
                </div>
              </div>
        </div>
        <input type="hidden" id="method" name="method" value="{{method}}">
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                {%for i in data.columns %}
                <th scope="col">
                    <h3>{{i}}</h3>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for i in data.results %}
            <tr>
                {%for j in i %}
                <td>{{j}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>There was an aproximation of the root found: {{data.root}}</h4>

</div>
{% endblock %}