{% extends "application.html" %}

    {% block content %}
    <div class="container">
        <form class="needs-validation" action="/viewNewtPoint/" method="GET" novalidate>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="01">Fx</label>
                <input type="text" class="form-control" id="01" name="fx" required>
                <div class="valid-feedback">
                  Valid value 
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="02">Dx o Gx</label>
                <input type="text" class="form-control" id="02" name="gx" required>
                <div class="valid-feedback">
                  Valid value 
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="custom-control custom-radio col-md-3 mb-3">
                    <input type="radio" class="custom-control-input" id="1" value="Newton" name="type" required>
                    <label class="custom-control-label" for="1">Newton</label>
                </div>
                <div class="custom-control custom-radio col-md-3 mb-3">
                    <input type="radio" class="custom-control-input" id="2" value="fixedPoint" name="type" required>
                    <label class="custom-control-label" for="2">fixedPoint</label>
                </div>
            </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="03">X0</label>
                <input type="text" class="form-control" id="03" name="x0" required>
                <div class="invalid-feedback">
                  Insert valid value
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="05">N</label>
                <input type="text" class="form-control" id="05" name="n" required>
                <div class="invalid-feedback">
                  Insert valid value
                </div>
              </div>
            </div>
            <button class="btn btn-outline-success" type="submit">Calculate</button>
        </form>
          
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              {%for i in data.columns %}
                  <th scope="col"><h3>{{i}}</h3></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
              {%for i in data.results %}
              <tr>
                  {%for j in i %}
                      <td>{{j}}</td>
                  {% endfor %}  
              </tr>
              {% endfor %}
          </tbody>
        </table>

    </div>
    
    {% endblock %}