{% extends "application.html" %}

{% block content %}

<div class="container">
  <div class="h4 p-3 mb-2 bg-dark text-white rounded-lg">{{method}}</div>
</div>
<div class="container">
  <form class="needs-validation" action="/viewTrazlin/" method="GET" novalidate>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">X</sub> </span>
          </div>
          <input type="text" class="form-control" name="x" aria-describedby="basic-addon3" required>
          <div class="invalid-feedback">
            Insert valid value
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Y</sub> </span>
          </div>
          <input type="text" class="form-control" name="y" aria-describedby="basic-addon3" required>
          <div class="invalid-feedback">
            Insert valid value
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col">
          <button type="submit" class="btn btn-dark">Calculate</button>
      </div>
  </div>
</div>
<input type="hidden" id="type" name="method" value="{{method}}">
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
<br>

{% if coef %}
<table class="table">
  <thead class="thead-dark">
    <h3>Coefficients</h3>
    <tr>
      <th scope="col">VALUES </th>
    </tr>
  </thead>
  <tbody>
    {%for i in coef %}
    <tr>
      <td>
        <h4>{{i}}</h4>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table">
  <thead>
    <h3>Polynomial</h3>
    <tr>
      <th scope="col">VALUES</th>
    </tr>
  </thead>
  <tbody>
    {%for i in tracers %}
    <tr>
      <td>
        <h4>{{i}}</h4>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>

{% endblock %}